header {
    height: 10vh;
    width: 100vw;
    background-color: #2FB675;
    display: flex;
    justify-content: center;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vh;
}

.logo {
    height: 80%;
}

.logo img {
    height: 100%;
}

.header-menu i {
    display: none;
}

nav a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media (max-width: 800px) {

    .header-menu i {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    nav#itens {
        display: none;
        position: absolute;
        width: 100vw;
        top: 10vh;
        right: 0;
        background-color: #2FB675;
    }

    nav#itens a {
        margin-left: 0;
        width: 100vw;
        display: block;
        text-align: center;
        padding: 0.5rem 0;
        border: solid 1px #ffffff56;
        margin: 0rem;
    }

}